<template>
    <div>
        <div class="link-container">
            <router-link :to="{ name: 'UpdateBook' }" class="Ex-link">Обновление книги</router-link>
            <router-link :to="{ name: 'DeleteBook' }" class="Ex-link">Удаление книги</router-link>
            <router-link :to="{ name: 'EditUser' }" class="Ex-link">Пользователи</router-link>

        </div>
        <div class="edit-container">

            <div class="card-header">Добавленеие Раздела</div>
            <div class="input-group mb-3" >
                <div class="input-group-prepend">
                    <span class="input-group-text">Название Раздела</span>
                </div>
                <input type="text" name="name_of_skciene" v-model="sciene.name_of_sciene" class="form-control" id="name_of_skciene" aria-describedby="basic-addon3">
            </div>

            <button type="submit" class="btn btn-success"  @click="saveForm">Добавить раздел</button>

        </div>
        <div class="edit-container">

            <div class="card-header">Удаление Раздела</div>
            <div class="input-group mb-3" >
                <div class="input-group-prepend">
                    <span class="input-group-text">Название Раздела</span>
                </div>
                <select  class="custom-select" v-model="book.sciene"   name="sciene">
                    <option v-for="sc in scienelist"   :value="sc.id" :id="`sciene${sc.id}`">{{(sc.name_of_scine)}}</option>
                </select>
            </div>

            <button type="submit" class="btn btn-success"  @click="deleteForm">Удалить раздел</button>

        </div>

    </div>

</template>

<script>
    export default {
        data: function () {
            return {

                book: {
                    sciene: '',
                },
                sciene  : {
                    name_of_sciene: '',


                },
                scienelist: [],
                scineid: '',
            }
        },
        mounted() {
            axios.get('/scinelist', {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }).then(response => {
                this.scienelist = response.data;

            });
        },
        methods: {

            deleteForm(e) {
                e.preventDefault();
                alert('ok');

                let form = new FormData();
                form.append('sciene', this.book.sciene);


                console.log(form);
                axios.post('/adminscienedel', form, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
                let sel = document.getElementById(`sciene${this.book.sciene}`);
                sel.remove();


            },
            saveForm(e) {
                e.preventDefault();
                alert('ok');
                let form = new FormData();
                form.append('name_of_sciene', this.sciene.name_of_sciene );


                console.log(form);
                axios.post('/adminsciene', form ,{
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })

            }
        }
    }
</script>

<style scoped>
    .link-container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top:20px ;
        margin-right:450px ;
        border: 1px solid #28a745;
        border-radius:5px;
        height: 70px;

    }

    .Ex-link {
        margin-left : 50px;
        margin-top: 10px;
        padding-top: 10px;
        width: 300px;
        height: 50px;
        align-items: center;
        text-align: center;
        font-size: 20px;
        color: #16181b ;
    }
    .Ex-link:hover {
        color: white;
        background: #28a745 ;
        background-size: 25px 50px;
        border-radius: 5px;
        text-decoration: none;

    }
    .edit-container {
        margin-top: 20px;
        border: 1px solid #28a745;
        border-radius:5px;
        padding: 10px;
    }
</style>
