<template >
       <div>
           <div class="link-container">

               <router-link :to="{ name: 'DeleteBook' }" class="Ex-link">Обновление книги</router-link>
               <router-link :to="{ name: 'AddBook' }" class="Ex-link">Добавление книги</router-link>
               <router-link :to="{ name: 'EditUser' }" class="Ex-link">Пользователи</router-link>
               <router-link :to="{ name: 'AddSciene' }" class="Ex-link">Добавление раздела</router-link>
           </div>

           <div class="container">
               <router-view>

               </router-view>
           </div>
       </div>
</template>

<script>



    export default {

    }
</script>

<style scoped>
    .link-container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top:20px ;

        border: 1px solid #28a745;
        border-radius:5px;
        height: 70px;

    }

    .Ex-link {
        margin-left : 20px;
        margin-top: 10px;
        padding-top: 10px;
        width: 300px;
        height: 50px;
        align-items: center;
        text-align: center;
        font-size: 18px;
        color: #16181b ;
    }
    .Ex-link:last-child {
        margin-right: 20px;
    }
    .Ex-link:hover {
        color: white;
        background: #28a745 ;
        background-size: 25px 50px;
        border-radius: 5px;
        text-decoration: none;

    }
    .edit-container {
        margin-top: 20px;
        border: 1px solid #28a745;
        border-radius:5px;
        padding: 10px;
    }
</style>
