<template>
    <div>
        <div class="link-container">

            <router-link :to="{ name: 'UpdateBook' }" class="Ex-link">Обновление книги</router-link>
            <router-link :to="{ name: 'DeleteBook' }" class="Ex-link">Удаление книги</router-link>
            <router-link :to="{ name: 'AddBook' }" class="Ex-link">Добавление книги</router-link>
        </div>
        <div class="edit-container">
            <div>
               <h3> Редактирование пользователей</h3>
            </div>
            <div>
                <div class="card-header">Удаление студента</div>
                <div class="input-group mb-3" >
                    <div class="input-group-prepend">
                        <span class="input-group-text">Номер студенческого</span>
                    </div>
                    <input type="text" name="number_stud_delete" v-model="number_stud_delete"  class="form-control" id="number_stud_delete" aria-describedby="basic-addon3">
                </div>

                <button type="submit" class="btn btn-success"  @click="deleteForm">удалить пользователя</button>
            </div>
            <div>
                <div class="card-header">добавление пользователя</div>
                <div class="input-group mb-3" >
                    <div class="input-group-prepend">
                        <span class="input-group-text">Номер студенческого</span>
                    </div>
                    <input type="text" name="number_stud" v-model="number_stud" class="form-control" id="number_stud" aria-describedby="basic-addon3">
                </div>

                <button type="submit" class="btn btn-success"  @click="saveForm">Добавить пользователя</button>
            </div>
        </div>>
        </div>


</template>

<script>
    export default {
        data: function () {
            return {
                number_stud : '',
                number_stud_delete:'',

                }

        },
        methods: {

            saveForm(e) {
                e.preventDefault();
                alert('ok');
                let form = new FormData();
                form.append('number_stud', this.number_stud);


                console.log(form);
                axios.post('/adminnumberadd', form, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })

            },

            deleteForm(e) {
                e.preventDefault();
                alert('ok');
                let form = new FormData();
                form.append('number_stud_delete', this.number_stud_delete);


                console.log(form);
                axios.post('/adminnumberdelete', form, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })

            }
        }
    }

</script>

<style scoped>
    .link-container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top:20px ;
        margin-right:450px ;
        border: 1px solid #28a745;
        border-radius:5px;
        height: 70px;

    }

    .Ex-link {
        margin-left : 50px;
        margin-top: 10px;
        padding-top: 10px;
        width: 300px;
        height: 50px;
        align-items: center;
        text-align: center;
        font-size: 20px;
        color: #16181b ;
    }
    .Ex-link:hover {
        color: white;
        background: #28a745 ;
        background-size: 25px 50px;
        border-radius: 5px;
        text-decoration: none;

    }
    .edit-container {
         margin-top: 20px;
         border: 1px solid #28a745;
         border-radius:5px;
         padding: 10px;
     }
</style>
