
<template>
    <div class="container">

        <div class="old">
        <div class="link-container">
            <div v-if="user.role === 'admin'" class="rout-adm">
                <router-link :to="{ name: 'admin' }" class="Ex-link">Админ панель</router-link>
            </div>
                <div class="rout-adm" >
                <router-link :to="{ name: 'SearchV' }" class="Ex-link">Поиск книг</router-link>
                </div>
        </div>
        </div>


        <div class="container">
            <router-view>

            </router-view>
        </div>
    </div>
</template>

<script>



    export default {

        props: {
            user : {
                type: Object,
                required : true
            }
        }


    }
</script>
<style lang="scss"scoped>
    .container {


        max-width: 1100px;
        width: 100%;
        margin-top:20px ;

    }
    .old {

        width: 1100px;

    }
    .link-container {

        width: 100%;
        display: flex;



        border: 1px solid #28a745;
        border-radius:5px;
        height: 70px;

    }

    .Ex-link {

        pading:5px;
        align-items: center;
        text-align: center;
        font-size: 30px;
        color: #16181b ;
    }
    .Ex-link:last-child {
        margin-right: 20px;
    }


        .link-container {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top:20px ;

            border: 1px solid #28a745;
            border-radius:5px;
            height: 70px;
        }
    .rout-adm {
        margin-top: 10px;
        width: 300px;
        height: 50px;
        align-items: center;
        text-align: center;

        color: #16181b ;
    }
    .rout-adm:hover {
        color: white;
        background: #28a745 ;
        background-size: 25px 50px;
        border-radius: 5px;
        text-decoration: none;
    }
    .rout-adm:hover .Ex-link {
        color: white;
        text-decoration: none;
    }





</style>

