<template>
<div class="container">
    <h2 class="search-title">Поиск книги</h2>

    <div class="search-block">
        <form >
            <label><input class="cb pristine" type="checkbox" id="1" @click="check"> <span>поиск по автору</span></label>

            <label><input class="cb pristine" type="checkbox" id="3" @click="check"> <span>поиск по названию</span></label>
        </form>
        <div class="input-group md-form form-sm form-2 pl-0 ">
            <input id="search" name="search"   v-model="search"   v-on:keyup="autoComplete" class="form-control" type="text" placeholder="Search" aria-label="Search">



        </div>
        <div class="book-list" v-if="results.length">
            <ul >
                <li  v-for="result in results" class="admin-book-list">
                    <a :href="`${http}192.168.10.10/download/${result.id}`">{{ result.name_book }}</a>

                </li>
            </ul>
        </div>

    </div>
</div>
</template>

<script>

    export default {
        data: function () {
            return {
                search: '',
                books: [],
                //path: '',
                http : 'http://',
                results: [],
                type: ''

            }
        },
        methods: {
            check(e){
                if (e.target.checked) {
                    this.type = e.target.id;

                }
                else {
                    this.type = 0;

                }
                for(var check of document.querySelectorAll(".pristine")) {
                    check.addEventListener('click', function() {
                        for(var item of document.querySelectorAll(".pristine")) {
                            item.checked = false;
                        }
                        this.checked = true;
                    });
                }

            },
            autoComplete(){
                this.results = [];
                if(this.search.length > 2){
                    axios.get('/lifesearch',{params: {search: this.search , type: this.type}}).then(response => {
                        this.results = response.data;
                        let path = this.results[0].root_to_file;
                        this.path = path.substr(7);
                    });
                }
            },
            // searchForm(e) {
            //     e.preventDefault();
            //
            //     let form = new FormData();
            //     form.append('search', this.search );
            //
            //
            //     console.log(form);
            //     axios.post('/search', form ,{
            //         headers: {
            //             'Content-Type': 'multipart/form-data'
            //         }
            //     }).then(response => {
            //         this.books = response.data;
            //         console.log(this.books);
            //
            //         let path = this.books[0].root_to_file;
            //         this.path = path.substr(7);
            //
            //     });

           // },
        dawnloadForm(e) {
            e.preventDefault();


                axios.get(`/download/${this.results[0].id}`);

        }
        }
    }
</script>


<style scoped>
    .container {
        margin-top: 30px;
        max-width: 1100px;
        width: 100%;
        margin-top:20px ;
        border: 1px solid #28a745;
        border-radius:5px;

    }
    .search-block {
        margin: 10px;
        display: flex;
        flex-direction: column;

    }
    .search-title {
        margin: 20px;
    }


    .book-list {
        list-style: none;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .book-list a {
        width: 100%;
        color: #808285;
        text-decoration: none;
        display: inline-block;
        padding-left: 25px;
        height: 44px;
        line-height: 44px;
        font-size: 30px;
        position: relative;
        transition: .3s linear;
    }
    book-list a:before {
        content: "";
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #425273;
        position: absolute;
        left: -30px;
        top: 7px;
    }
    .book-list li {
        list-style-type: none;
        position: relative;}
    .book-list li:before {
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #EC351D;
        position: absolute;
        top: 12px;
        left: -30px;
        z-index: 2;
        transition: .4s ease-in-out;
    }
    .book-list li:hover:before {left: -20px;}





    /* Animation */


    form {
        margin: 1.5em auto 0;
        display: flex;

    }

    label {
        display: block;
        margin-bottom: 1.5em;
        padding-right: 15px;
        -webkit-tap-highlight-color: transparent;
    }

    .cb {
        box-shadow: 0 0 0 0.125em rgba(0, 0, 0, 0.75) inset;
        display: inline-block;
        position: relative;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        -moz-appearance: none;
        -webkit-appearance: none;
    }

    .cb:before, .cb:after {
        content: "";
        display: block;
        position: absolute;
    }

    .cb:before {
        animation: eraseA 0.5s steps(1) forwards;
        background: url("https://s22.postimg.cc/fi4blx4gx/checkmark.png") 0 100%/1.2em 1.35em no-repeat;
        bottom: 0.2em;
        left: 0.3em;
        width: 0;
        height: 1.35em;
    }

    .cb:after {
        animation: eraseB 0.5s linear forwards;
        background: linear-gradient(rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 50%) 11.2em 0, linear-gradient(#c8646e, #c8646e) 11.2em 0, linear-gradient(90deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6) 0.1em, rgba(255, 255, 255, 0) 0.1em, rgba(255, 255, 255, 0) 0.2em, rgba(0, 0, 0, 0.2) 0.2em, rgba(0, 0, 0, 0.2) 0.3em, transparent 0.3em) 9.8em 0/0.3em 100%, repeating-linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6) 0.1em, rgba(255, 255, 255, 0) 0.1em, rgba(255, 255, 255, 0) 0.2em) 10.2em 0/0.5em 100%, linear-gradient(90deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6) 0.1em, rgba(255, 255, 255, 0) 0.1em, rgba(255, 255, 255, 0) 0.2em, rgba(0, 0, 0, 0.2) 0.2em, rgba(0, 0, 0, 0.2) 0.3em, transparent 0.3em) 10.8em 0/0.3em 100%, linear-gradient(rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0.6) 35%, rgba(255, 255, 255, 0.6) 65%, rgba(255, 255, 255, 0) 65%) 9.7em 0, linear-gradient(#b4b4b4, #b4b4b4) 9.7em 0, linear-gradient(rgba(0, 0, 0, 0.1) 27%, transparent 27%, transparent 73%, rgba(0, 0, 0, 0.2) 73%) 2em 0, linear-gradient(#f0d000, #f0d000) 2em 0, linear-gradient(-14deg, #1e1e1e 18%, rgba(30, 30, 30, 0) 20%) 0 0/0.5em 0.5em, linear-gradient(14deg, rgba(30, 30, 30, 0) 80%, #1e1e1e 83%) 0 0.5em/0.5em 0.5em, linear-gradient(-14deg, #d2a078 48%, rgba(210, 160, 120, 0) 50%) 0 0/2em 0.5em, linear-gradient(14deg, transparent 48%, rgba(0, 0, 0, 0.1) 50%) 0 0.5em/2em 0.5em, linear-gradient(14deg, rgba(210, 160, 120, 0) 48%, #d2a078 50%) 0 0.5em/2em 0.5em;
        background-repeat: no-repeat;
        border-radius: 0 0.1em 0.1em 0;
        opacity: 0;
        visibility: hidden;
        transform-origin: 0 0.25em;
        width: 12em;
        height: 1em;
    }

    .cb:checked {
        background-color: transparent;
    }

    .cb:checked:before {
        animation: drawA 0.5s linear forwards;
    }

    .cb:checked:after {
        animation: drawB 0.5s linear;
    }

    .cb:focus {
        outline: transparent;
    }

    .cb:focus + span {
        color: rgba(0, 0, 0, 0.75);
        outline: transparent;
    }

    .pristine:before, .pristine:after {
        animation: none;
    }

    @keyframes drawA {
        from, 5% {
            width: 0;
            height: 1.35em;
        }

        90%, to {
            width: 1.2em;
            height: 1.35em;
        }
    }

    @keyframes drawB {
        from {
            opacity: 0;
            transform: translate(0em, -0.5em) rotate(-50deg);
            visibility: visible;
        }

        5% {
            opacity: 1;
            transform: translate(0em, 0.3em) rotate(-60deg);
        }

        17% {
            transform: translate(0.25em, 0.8em) rotate(-65deg);
        }

        79% {
            transform: translate(1.1em, -0.14em) rotate(-63deg);
        }

        90% {
            opacity: 1;
            transform: translate(1.2em, -0.15em) rotate(-63deg);
        }

        to {
            opacity: 0;
            transform: translate(1.25em, -1.7em) rotate(-63deg);
        }
    }

    @keyframes eraseA {
        from {
            width: 1.2em;
            height: 1.35em;
        }

        10% {
            width: 1.2em;
            height: 1.08em;
        }

        27% {
            width: 1.2em;
            height: 0.81em;
        }

        36% {
            width: 1.2em;
            height: 0.7em;
        }

        45% {
            width: 1.2em;
            height: 0.55em;
        }

        55% {
            width: 1.2em;
            height: 0.35em;
        }

        80%, to {
            width: 1.2em;
            height: 0;
        }
    }

    @keyframes eraseB {
        from {
            opacity: 0;
            transform: translate(0.6em, -12.2em) rotate(90deg);
            visibility: visible;
        }

        10% {
            opacity: 1;
            transform: translate(1.2em, -12.05em) rotate(90deg);
        }

        20% {
            transform: translate(0.6em, -11.9em) rotate(90deg);
        }

        30% {
            transform: translate(1.2em, -11.75em) rotate(90deg);
        }

        40% {
            transform: translate(0.6em, -11.6em) rotate(90deg);
        }

        50% {
            transform: translate(1.2em, -11.45em) rotate(90deg);
        }

        60% {
            transform: translate(0.6em, -11.3em) rotate(90deg);
        }

        70% {
            transform: translate(1.2em, -11.15em) rotate(90deg);
        }

        80% {
            transform: translate(0.6em, -11em) rotate(90deg);
        }

        90% {
            opacity: 1;
            transform: translate(2em, -12.5em) rotate(100deg);
        }

        to {
            opacity: 0;
            transform: translate(2em, -12.5em) rotate(100deg);
        }
    }

</style>
