<template>
    <div>
        <div class="link-container">
            <router-link :to="{ name: 'DeleteBook' }" class="Ex-link">Удаление книги</router-link>
            <router-link :to="{ name: 'AddBook' }" class="Ex-link">Добавление книги</router-link>
            <router-link :to="{ name: 'EditUser' }" class="Ex-link">Пользователи</router-link>
        </div>

        <div class="edit-container">


            <h2>Обновление книги</h2>
            <div class="input-group mb-3" >
                <div class="input-group-prepend">
                    <span class="input-group-text">Название книги</span>
                </div>
                <input type="text" name="name_book" v-model="book.name_book" class="form-control" id="name_book" aria-describedby="basic-addon3">
            </div>
            <div class="input-group mb-3" >
                <div class="input-group-prepend">
                    <span class="input-group-text">Автор книги</span>
                </div>
                <input type="text" NAME="NameWriters" v-model="book.NameWriters" class="form-control" id="basic-url" aria-describedby="basic-addon3">
            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" >Науки</label>
                </div>
                <select  class="custom-select" v-model="book.sciene" v-for="sc in scienelist" name="sciene">
                    <option   :value="sc.id">{{(sc.name_of_scine)}}</option>
                </select>



            </div>
            <div class="input-group mb-3" >
                <div class="input-group-prepend">
                    <span class="input-group-text">Дата выпуска</span>
                </div>
                <input type="date"  name="data_vihoda" v-model="book.data_vihoda" class="form-control" id="data_vihoda"  placeholder="Дата" required>
            </div>

            <div class="input-group mb-3" >
                <div class="input-group-prepend">
                    <span class="input-group-text">Путь к файлу</span>
                </div>
                <div class="custom-file">

                    <label class="custom-file-label"  placeholder="Файл книги">dadadw</label>
                    <input type="file"  name="root_to_file"  ref="asd" class="custom-file-input" id="root_to_file" @change="hel">
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">описание книги</span>
                </div>
                <textarea class="form-control" v-model="book.opisanie" name="opisanie" aria-label="With textarea" id="opisanie"></textarea>
            </div>


            <button type="submit" class="btn btn-success"  @click="saveForm">Обновить Данные о книге</button>

        </div>

    </div>

</template>

<script>
    export default {
        data: function () {
            return {
                book: {
                    name_book: '',
                    NameWriters: '',
                    sciene: '',
                    data_vihoda: '',
                    root_to_file: '',
                    opisanie: '',

                },
                scienelist: [],
                scineid: '',
            }
        },
        mounted() {
            axios.get('/scinelist', {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }).then(response => {
                this.scienelist = response.data;

            });
        },
        methods: {
            hel() {
                this.root_to_file = this.$refs.asd.files[0];
            },

            saveForm(e) {
                e.preventDefault();
                alert('ok');
                let form = new FormData();
                form.append('name_book', this.book.name_book );
                form.append(' NameWriters', this.book.NameWriters );
                form.append('sciene', this.book.sciene );
                form.append('data_vihoda', this.book.data_vihoda )
                form.append('root_to_file', this.root_to_file );
                form.append('opisanie', this.book.opisanie);

                console.log(form);
                axios.post('/admin', form ,{
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })

            }
        }
    }
</script>

<style scoped>
    .link-container {

        width: 100%;
        display: flex;
        justify-content: center;
        margin-top:20px ;
        margin-right:450px ;
        border: 1px solid #28a745;
        border-radius:5px;
        height: 70px;

    }

    .Ex-link {
        margin-left : 50px;
        margin-top: 10px;
        padding-top: 10px;
        width: 300px;
        height: 50px;
        align-items: center;
        text-align: center;
        font-size: 20px;
        color: #16181b ;
    }
    .Ex-link:hover {
        color: white;
        background: #28a745 ;
        background-size: 25px 50px;
        border-radius: 5px;
        text-decoration: none;

    }
    .edit-container {
        margin-top: 20px;
        border: 1px solid #28a745;
        border-radius:5px;
        padding: 10px;
    }
</style>
